streamlit
pandas==1.4.3
plotly
requests
numpy
matplotlib
vectorbt
akshare
statsmodels
streamlit_quill
riskfolio-lib
humanize
seaborn
EMD-signal
vmdPY
pyemd
tftb
Riskfolio-Lib
seaborn
akshare
TA-Lib
streamlit-quill
git+ https://github.com/phamdinhkhanh/vnquant

